:root {
  --main-background: #ffc600;
  --search-box-border-color: 10px solid rgb(241, 241, 241);
}

html {
    background: var(--main-background);
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }
  
  input {
    width: 100%;
    height: 50px;
  }
  
  .search-form-container {
    width: 25%;
    margin: 50px auto;
  }
  
 .place-input {
    text-align: center;
    border: var(--search-box-border-color);
    border-radius: 5px;
    font-size: 36px;
    outline: none;
  }
  
  .place-list {
    position: relative;
    padding: 0px;
    margin: 0px auto;
    width: 85%;
  }

  li {
    background: white;
    border-bottom: 1px  #D8D8D8;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.14);
    margin: 0 ;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
  }

  .highlight {
    background: var(--main-background);
  }
  